//This style holds all custom styling for app pages

//Signin.tsx Page and SignUp Page
.authStyle {
    height: 83.688rem;
    background: #F5F6F8;

    @media screen and (min-width: 1900px) {
        height: 83.688rem;
    }
    // @media screen and (max-width: 1200px) {
    //     height: 800px;
    // }
}